$cor-fonte-preta: #121212;
$cor-fonte-laranja: #F3A81B;
$cor-fonte-primary: #FFFFFF;
$cor-link: #D34042;
$cor-programacao: #DA493B;
$cor-header: #19261F;
$fonte-texto: "Barlow", sans-serif;
$fonte-titulo: "Barrio", sans-serif;

@mixin flexCenter($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}