$cor-fonte-titulo: #846FF6;
$cor-fonte-texto: #838991;
$cor-primary: #D9D9D9;
$fonte-texto: "Barlow", sans-serif;
$fonte-titulo: "Barrio", sans-serif;

@mixin flexCenter($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}