*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  width: 100%;
}

main {
  width: 100%;
}

.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19261F;
  height: 16vh;
  width: 100%;
}
.banner__container--imagem {
  width: 50vw;
}
.banner__container h1 {
  display: none;
}

.hero__container {
  width: 100%;
  height: 64vh;
}
.hero__container .carousel, .hero__container .slide {
  height: 64vh;
}
.hero__container .carousel .carousel-inner, .hero__container .slide .carousel-inner {
  height: 64vh;
}
.hero__container .carousel .carousel-inner .carousel-item, .hero__container .slide .carousel-inner .carousel-item {
  height: 64vh;
}
.hero__container .carousel .carousel-inner .carousel-item img, .hero__container .slide .carousel-inner .carousel-item img {
  height: 64vh;
}

.evento__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.evento__container--imagem {
  width: 64vw;
}
.evento__container--textos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 10vw;
  height: 80%;
}
.evento__container--textos .evento__texto {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  font-size: 1.1em;
}

.data__container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.data__container--imagem {
  width: 100%;
}

.inscricoes__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 72vh;
  width: 100%;
  background-image: url(../images/bg-laranja.png);
  background-size: 100% 100%;
  font-size: 16px;
}
.inscricoes__container--titulo {
  font-family: "Barrio", sans-serif;
  font-size: 3em;
  color: #121212;
}
.inscricoes__container--links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inscricoes__container--link {
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #D34042;
  padding: 1em 0.5em;
  border-radius: 12px;
  width: 68vw;
  max-width: 600px;
  text-align: center;
  font-size: 1.1em;
}
.inscricoes__container--texto1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #121212;
  font-size: 1.2em;
  margin-bottom: 0;
}
.inscricoes__container--texto2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #121212;
  font-size: 1em;
}

.entrada__container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.entrada__container--imagem {
  width: 100%;
}

.programacao__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 72vh;
  width: 100%;
  background-image: url(../images/bg-branco.png);
  background-size: 100% 100%;
  font-size: 16px;
}

.programacao__titulo {
  font-family: "Barrio", sans-serif;
  color: #DA493B;
  font-size: 3em;
}

.programacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  width: 95vw;
}
.programacao__dia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  row-gap: 3vh;
  font-family: "Barrio", sans-serif;
  color: #121212;
  margin-top: 5vh;
}
.programacao__data {
  font-size: 1.8em;
}
.programacao__lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2vh;
}
.programacao__lista--atracao {
  color: #121212;
}
.programacao__lista--atracao span {
  color: #DA493B;
}
.programacao hr {
  border: 1px solid #121212;
  opacity: 1;
  transform: rotate(0.5turn);
  height: 50vh;
}

.compromisso__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  height: 40vh;
  width: 100%;
  background-image: url(../images/bg-vermelho.png);
  background-size: 100% 100%;
  font-size: 16px;
  padding: 2vh 5vw;
}

.compromisso__titulo {
  color: #F3A81B;
  font-size: 2em;
  font-family: "Barrio", sans-serif;
  width: 50vw;
}
.compromisso__titulo span {
  color: #FFFFFF;
}

.compromisso__subtitulo {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.95em;
  width: 75vw;
  margin-bottom: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 0.5;
}

.compromisso__subtitulo:last-of-type {
  color: #F3A81B;
  margin-bottom: 2vh;
}

.compromisso__lista {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #FFFFFF;
  padding-left: 0;
  margin-left: 4vw;
  line-height: 1;
  font-weight: 200;
}

.direito__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  height: 40vh;
  width: 100%;
  background-image: url(../images/bg-verde.png);
  background-size: 100% 100%;
  font-size: 16px;
  padding: 2vh 5vw;
}

.direito__top {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.5vw;
       column-gap: 2.5vw;
  align-items: flex-start;
}
.direito__top--imagem {
  width: 40vw;
}
.direito__top--titulo {
  font-family: "Barrio", sans-serif;
  color: #FFFFFF;
  font-size: 1.7em;
  width: 40vw;
}
.direito__top--titulo span {
  color: #F3A81B;
  font-size: 1.5em;
}

.direito__textos {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #FFFFFF;
}
.direito__textos--titulo {
  font-size: 0.95em;
  width: 80vw;
  font-weight: 600;
  margin-block: 1.8vh;
}
.direito__textos--protocolo {
  line-height: 1;
  font-weight: 200;
  margin-bottom: 0;
}
.direito__textos--protocolo b {
  font-weight: 500;
}
.direito__textos--acolhimento {
  margin-block: 1.5vh 0;
  color: #F3A81B;
}
.direito__textos--denuncie {
  font-weight: 800;
}

.apoio__container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.apoio__imagem {
  width: 100%;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  flex-direction: column;
  height: 5vh;
  width: 100%;
  background-image: url(../images/bg-laranja.png);
  background-size: 100% 100%;
  padding-right: 5vw;
  font-size: 16px;
}
.rodape div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  flex-direction: column;
  width: 45vw;
}
.rodape__texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.5em;
  color: #121212;
  margin-bottom: 0;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.rodape__link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  text-decoration: none;
  color: #121212;
  vertical-align: bottom;
}
.rodape__icone {
  width: 4vw;
  vertical-align: bottom;
  align-self: auto;
}
.rodape__nome {
  font-size: 1em;
  vertical-align: bottom;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */